{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Skeleton CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'polls/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/skeleton.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/custom.css' %}"/>

    <!-- Emoji Favicon -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍱</text></svg>">
    
    <!-- Templated page title -->
    <title>{% block title %}{% endblock title %} | smakan</title>
</head>

<body id="home-body" style="background-image: url('{% static 'polls/waves.svg' %}');">
    {% include 'polls/navbar.html' %}
    <div class="container">
        <div class="row" style="padding-top:3em">{% block hero %}{% endblock hero %}
        {% if messages %}
        <div class="example-grid docs-example">
            {% for message in messages %}
            <div class="column u-full-width" style="background-color: #EEB759;">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        </div>
        
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="footer">
    <div class="row">
        <p class="mb-0" style="color: #33C3F0">Made with 💙 by Dylan</p>
    </div>
    </footer>
</body>
</html>