{% extends 'polls/base.html' %}

{% block title %}

Login

{% endblock title %}

{% block hero %}

<h1><strong>Login</strong></h1>
<h5>Log in to access or create dinner suggestions.</h5>

{% endblock hero %}


{% block content %}
<div class="row row-card">
<form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="six columns">
        <label for="username">Name</label>
        <input class="u-full-width" type="text" placeholder="St. Augustine" id="username" name="username">
      </div>
      <div class="six columns">
          <label for="password">Password PIN (4 digits)</label>
          <input class="u-full-width" type="password" id="password" name="password" title="4-digit Pin" pattern="[0-9]{4}" placeholder="1234" maxlength="4">
      </div>
    </div>
    <input class="button-primary" type="submit" value="Login">
  </form>
  <p>Don't have an account? Create one <a href="{% url 'polls:register' %}">here</a>.</p>
</div>
{% endblock content %}